@{
    ViewBag.Title = "Oops, something went wrong!";
    TempData["ErrorMessage"] = "";
}


<div class="container">
    <div class="row top-row">
        <div class="bkgd col-lg-5"> </div>
        <div class="col-lg-1"> </div>
        <div class="right-col col-lg-6">
            <div class="thanks">
                <h2>@ViewBag.Title</h2>

                <h2>An error occurred while processing your request. @TempData["ErrorMessage"]</h2>

                <h3>Please try again, or click the Fresh Spot logo to start over.</h3>
            </div>
        </div>
    </div>
</div>
