<div class="hidden" id="mobNumPanel">
    @using (Ajax.BeginForm("SendVerificationCode", "Card", new AjaxOptions { HttpMethod = "POST" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal text-white">
            <div class="form-section container" id="signUpDiv">
                <p> A six-digit confirmation code will sent via text to your number. If this number is incorrect, please correct it below.</p>
                <div class="form-group formbox mt-5">
                    @Html.LabelFor(m => m.CH_MPHONE, "Mobile Number", htmlAttributes: new { @class = "control-label col-md-4 text-white" })
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.CH_MPHONE, new { htmlAttributes = new { @class = "form-control required", @id = "mobNumBox2" } })
                    </div>
                </div>

                <div class="form-group formbox mt-5">
                    <input type="submit" class="btn btn-lg subBtn formbox" id="fsrSubmit" value="Send Code"
                           onclick="sendCodeClick()" />
                </div>
                <div class="error">
                    @ViewBag.SendError;
                </div>
            </div>
        </div>
    }
</div>
