@{
    ViewBag.Title = "Thanks for signing up for Fresh Spot Rewards!";
}


<div class="container">
    <div class="row top-row">
        <div class="bkgd col-lg-5"> </div>
        <div class="col-lg-1"> </div>
        <div class="right-col col-lg-6">
            <div class="thanks">
                <h2>@ViewBag.Title</h2>
                <h3>You've already signed up for Fresh Spot Rewards -- Thanks, you're good to go!</h3>
                <p>
                    <h3>Don't forget to claim your free Hunk A Pizza&reg;!</h3>
                    <ul>
                        <li>
                            <h4>If you are a Rewards Spot member, select <strong>'Rewards Spot'</strong> at check out.</h4>
                        </li>
                        <li>
                            <h4>If you're not a Rewards Spot member, select <strong>'Fresh Spot Rewards'</strong> at check out.</h4>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
