@{
    ViewBag.Title = "Thanks for signing up for Fresh Spot Rewards!";
}
<div class="bkgd">

</div>

<div class="container thanks-page">
    <div class="row thanks">
        <div class="col-lg-offset-2 first-col">
            <h2>@ViewBag.Title</h2>
            <h3>You've already signed up for Fresh Spot Rewards -- Thanks, you're good to go!</h3>
            
        </div>
    </div>
</div>
